input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 26px;
  width: 26px;
  border: 2px solid #e6e5ea;
  border-radius: 50%;
  background: #e6e5ea;
  cursor: pointer;
  position: relative;
  z-index: 1000; /* prevent overflow/overlap with custom progress bar? */
}
input[type='range']:focus-visible + .slider-progress-bar {
  background-color: #80ff8f;
}
input[type='range']:hover::-webkit-slider-thumb {
  /* background: #18171f; */
  /* border-color: #a4ffaf; */
  /* z-index: 1000; */
}
