input[type='checkbox'] {
  appearance: none;
  min-height: 20px;
  min-width: 20px;
  background-color: transparent;
  border: 2px solid #e6e5ea;
  cursor: pointer;
}
input[type='checkbox']:checked {
  background-color: #a4ffaf;
  border-color: #a4ffaf;
}
input[type='checkbox']:checked:hover,
input[type='checkbox']:checked:focus-visible {
  background-color: #80ff8f;
}
input[type='checkbox']:hover,
input[type='checkbox']:focus-visible {
  border-color: #a4ffaf;
}
input[type='checkbox']:checked + span::before {
  content: '';
  position: absolute;
  background-image: url('./assets/images/icon-check.svg');
  background-repeat: no-repeat;
  left: 4px;
  top: 50%;
  transform: translateY(-25%);
  width: 20px;
  height: 20px;
}
.checkmark {
  /* top: 50%; */
}
